body {
  background-image: url('./images/hamsterbg1.jpg');
  height: 100vh;
  background-size: cover;
}
.cutest-hamster p {
  color: black;
}
.footer {
  background-color: #954508;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.footer p {
  text-align: center;
  color: white;
}
.hamster img {
  width: 8em;
  height: 8em;
}
.hamster,
.add-hamster {
  background: radial-gradient(
    circle,
    rgb(175, 120, 79) 0%,
    rgb(209, 162, 87) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;

  border-radius: 0.5em;
  padding: 1em;
}

header {
  background-color: black;
}
header,
main {
  padding: 1em 3em;
  font-size: 1.2em;
}
header nav a:hover {
  cursor: pointer;
  background-color: #c97b0c;
  text-decoration: none;
  transition: all 0.3s;
}
header nav a {
  padding: 0.2em 2em;
  margin: 0em 1em;
  color: white;
  text-decoration: none;
}
header nav a.active {
  background-color: #c97b0c;
}
.home {
  float: right;
  max-width: 50vh;
  margin-right: 40vh;
}
.home-message {
  color: white;
}
img {
  border-radius: 0.5em;
}
.info-link {
  text-decoration: none;
}
.single-hamster,
.winning-hamster {
  color: black;
  background: radial-gradient(
    circle,
    rgb(175, 120, 79) 0%,
    rgb(209, 162, 87) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  border-radius: 0.5em;
  padding: 1em;
  max-width: 25em;
}
.single-hamster img {
  max-width: 15em;
}
